APP_PORT=8090
MONGODB_URI=mongodb://localhost:27017/adsphere
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=ads.process
OLLAMA_API=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.1
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1